<!DOCTYPE html>
  <head>
    <title>slideshow</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="slideshow.js"></script>
  </head>
  <body>
    <h1>An Absolutely Fabulous Slideshow!</h1>
    <div id="slideshow">
      <div class="slide">
        <h2 id="title"></h2>
        <p id="body"></p>
      </div>
      <div class="prev-button">
        <button id="previous">Back</button>
      </div>
      <div class="next-button">
        <button id="next">Next</button>
      </div>  
    </div>  
  </body>  
</html>